<%= render 'lists/navbar' %>
<% @image = @list.image_url if @list.image_url %>
<% @image = (cl_image_path @list.photo.key) if @list.photo.attached? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=@image%>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class='d-flex justify-content-between mt-3'>
    <h4><%= @list.bookmarks.count %> Movies</h4>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add movie
    </button>
  </div>

  <div class="card-bookmarks mb-5 border-bottom">
    <% @list.bookmarks.each do |bookmark|%>
      <div class="card-bookmark">
        <div style="background-image: url('<%= bookmark.movie.poster_url%>')" class='bookmark-img'></div>
          <div class='bookmark-text'>
          <div>
              <div class='bookmark-title-rating'>
                <h4><%= bookmark.movie.title %></h4>
                <p><%= bookmark.movie.rating.round(1) %> ⭐️</p>
              </div>
              <p><%= bookmark.movie.overview %></p>
          </div>
            <div class="d-flex justify-content-between" style='justify-self: end;'>
              <p><i class="fa-solid fa-comment text-dark"></i> <%= bookmark.comment %></p>
              <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "are you sure?" } do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>

  <div class="footer">
    <div class="review-comments">
      <h2>Reviews</h2>
      <% @list.reviews.each do |review| %>
        <div class='review-comment'>
          <p><%= content_tag :p, '⭐️' * review.rating %></p>
          <h4><%= review.comment %></h4>
        </div>
      <% end %>
    </div>
    <div class="review-form">
     <%= simple_form_for [@list, @review] do |f|%>
      <%= f.input :rating, :collection => (0..5).to_a, input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} } %>
      <%= f.input :comment %>
      <%= f.submit 'Add review', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a movie</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='p-3'>
      <%= simple_form_for [@list, @bookmark] do |f|%>
      <%= f.input :movie_id, collection: Movie.all.order(:title), input_html: {data: {controller: "tom-select"}} %>
      <%= f.input :comment %>
      <%= f.submit 'Add movie', class: 'btn btn-success' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
